@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Italic.eot');
    src: local('TT Lakes Italic'), local('TTLakes-Italic'),
        url('fonts/TTLakes-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Italic.woff') format('woff'),
        url('fonts/TTLakes-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('TTLakesCondensed-ExtraBold.eot');
    src: local('TT Lakes Condensed ExtraBold'), local('TTLakesCondensed-ExtraBold'),
        url('fonts/TTLakesCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakesCondensed-ExtraBold.woff') format('woff'),
        url('fonts/TTLakesCondensed-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
.header__body{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.leftgroup, .rightgroup, .middlegroup{
    display: flex;
    align-items: center;
    height: 88px;
}
.leftgroup{
    justify-content: flex-start;
}
.rightgroup{
    justify-content: flex-end;
}
.middlegroup{
    display: none;
}
.header__body button{
    background-color: white;
    border: 0;
}
.header__navigation--button{
    margin:24px 16px ;
}
.header__checkstatus--button{
    margin-right:10px ;    
}

.header__body img{
    background-color: white;
}

.header__repair--button{
    padding-left: 20px;
}

.header__repait::before{
    content: "";
    height: 32px;
    width: 2px;
    position: absolute;
    margin-top: 4px;
    background-color: #EAEAEA;
    
}

body {
    background-color: #F8F8F8;
    margin: 0;
    font-family: 'TT Lakes';
}
.header{
    border-bottom: 1px solid #D9FFF5;
}

.title{
    border-left: 4px solid #41F6D7;
    padding-left: 16px;
    font-family: 'TT Lakes Condensed';
}

.title h1{
    letter-spacing: -0.6px;
    font-size: 28px;
    line-height: 40px;
    margin-top: 24px;
}
.sidemenu{
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding-left: 16px;

}

.sidemenu::-webkit-scrollbar{
width: 0;
}

.sidemenu > button{
    border: 0;
    font-size: 16px;
    line-height: 24px;
    background-color:#F8F8F8;
    letter-spacing: -0.2px;
    color: #7E7E82;
    padding-top: 8px;
    padding-bottom: 8px;
}

.sidemenu > .sidemenu__rdevices{
    background-color: white;
    border:  2px solid #B8FFEC;
    border-radius: 6px;
}

.firstblock__text{
    display: flex;
    height: 90px;
    padding: 0 16px;
    overflow: hidden;
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

.firstblock__readmore{
    padding-left: 24px;
}
.firstblock__picture{
    width: auto;
    justify-self: middle;
}
.firstblock__button--readmore{
    border: 0;
    font-family: 'TT Lakes Condensed';
    font-size: 16px;
    line-height: 24px;
    background-color: #F8F8F8;
    padding:  16px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.hidden__buttons{
    display: none;
}

button:hover {
    cursor: pointer;
}

.dropMenu{
    background-color: white;
}

.dropMenu__header{
    width: 320px;
    max-width: 320px;
    display:flex;
    padding: 20px 24px;
    padding-bottom: 34px;
    box-sizing: border-box;
}

.dropMenu__header__close {
    padding-right: 20px;
}

.dropMenu__header__search{
    margin-left: auto;
}

.dropMenu__main li{
    padding: 16px 24px;
    list-style: none;
}

.dropMenu a{
    text-decoration: none;
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: bold;
}

.dropMenu__main li a{
    color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.fix::before{
    content: "";
    height: 32px;
    width: 4px;
    background-color: #41F6D7;
    position: absolute;
    left:-3px;
    top: 155px;
    border: 2px solid white;
    border-radius: 50%;
}

.dropMenu__main li a::before{
    position: absolute;
    color: #1B1C21;
    content: attr(data-hover);
    transition: transform 0.3s, opacity 0.3s;
}
.dropMenu__main li  .dropMenu__main__grey::before{
    color: #7E7E82;
}

.dropMenu__main li a:hover::before{
    opacity: 0;
    transform: scale(0.9);
}

.dropMenu__footer{
    padding-top: 100px;
}

.dropMenu__footer__contact__icons.middlegroup{
    display: flex;
    height: 60px;
}
.dropMenu__footer__contact__icons button{
    border: 0;
    background-color: white;
}

.dropMenu__footer__contact__icons__phone{
    padding-left: 18px;
}

.dropMenu__footer__contact__email{
    padding: 4px 24px ;
}
.dropMenu__footer__contact__telephone{
    padding: 8px 24px;
}

.dropMenu__footer__contact__telephone a{
    font-family: TT Lakes;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    letter-spacing: -0.6px;
}

.dropMenu__footer__lang{
    display: flex;
    padding:  32px 24px;
}
.dropMenu__footer__lang button{
    background-color: white;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -0.2px;
    font-family: TT Lakes;
}
.dropMenu__footer__lang__RU__button.grey{
    color: #7E7E82;
}

.sepia__filter img:hover{
    filter: sepia(1);
    transition-duration: 0.2s;
}

.brandsRepair__title {
background: linear-gradient(90deg ,#F8F8F8 50%, #FFFFFF );
border-top: 1px solid #D9FFF5;
height: 55px;
}


.brandsRepair__title h2{
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    position: absolute;
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
}

.brandsRepair__list__content{
    display: grid;
    grid-template-columns: 240px 240px 240px 240px;
    grid-gap: 32px 16px;
    justify-content: center;
    padding-top: 24px;
}

.brandsRepair__list__content button{
    width: 240px;
    height: 72px;
    display: flex;
    align-items: center;
    padding: 16px;
    border: 0;
    background-color: white;
}

.brandsRepair__list__content button img:nth-child(2){
    margin-left: auto;
}

.brandsRepair__list__limiter{
    max-height: 200px;
    overflow: hidden;
    position: relative;
}

.brandsRepair__list__readmore{
    opacity: 0;
    position: absolute;
}
.brandsRepair__list__readmore:checked ~ .brandsRepair__list__limiter{
    max-height: none;
}

.brandsRepair__list__readmore 
~ .brandsRepair__list__readmore__button::before{
    content: "»  Показать все";
    position: absolute;
    left: 80px;
}

.brandsRepair__list__readmore:checked 
~ .brandsRepair__list__readmore__button::before{
    content: "«  Скрыть";
    position: absolute;
    left: 80px;
    padding-top: 30px;
}



@media ( min-width : 768px) and (max-width : 1119.98px){
    .middlegroup{
        display: flex;
        margin-left: auto;
        margin-right: 20px;
    }    

    .firstblock{
        display: flex;
    }
    .firstblock__picture{
        margin-left: auto;
        margin-right: 25px;

    }
    .firstblock__picture > img{
        min-width: 360px;
    }
    .firstblock__text{
        line-height: 20px;
        height: 160px;
        font-size: 14px;
        max-width: 312px;
        margin-left: 8px;
    }
    .header__navigation > nav::after{
        content: "";
        height: 32px;
        width: 2px;
        position: absolute;
        margin-top: 28px;
        background-color: #EAEAEA;
    }
    .header__icon .logo{
        margin-left: 20px;
    }
    .brandsRepair__list__content{
        display: grid;
        grid-template-columns: 224px 224px 224px;
        grid-gap: 32px 26px;
        justify-content: center;
    }
}

@media (min-width: 1120px) {
    .firstblock{
        display: flex;
    }
    .firstblock__picture > img{
        min-width: 531px;
    }
    .firstblock__picture{
        margin-left: auto;
        margin-right: 28px;
    }

    .firstblock__text{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        width: 490px;    
        height: 160px;
    }
   /*если нужна кнопка -- удалить*/
    .firstblock__readmore{
        display: none;
    }
    .header{
        display: none;
    }
    .title{
        display: flex;
        align-items: center;
        padding-left: 30px;
        border : 0 ;
    }
    .title h1{
        border-left: 4px solid #41F6D7;
        margin-left: -30px;
        padding-left: 30px;
    }
    .hidden__buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 400px;
        margin-left: auto;
        margin-right: 20px;
    }
    .hidden__buttons button{
        border: 0;
        background-color: #F8F8F8;
        margin-left: 8px;
        display: flex;
    }

    .hidden__buttons--repait--text, .hidden__buttons--checkstatus--text{
        display: inline-block;
        justify-content: center;
        align-self: center;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        margin-right: 8px;
    }
    .sidemenu{
        padding-left: 30px;
    }
    .firstblock__text{
        padding-left: 30px;
    }
}