@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Italic.eot');
    src: local('TT Lakes Italic'), local('TTLakes-Italic'),
        url('fonts/TTLakes-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Italic.woff') format('woff'),
        url('fonts/TTLakes-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('TTLakesCondensed-ExtraBold.eot');
    src: local('TT Lakes Condensed ExtraBold'), local('TTLakesCondensed-ExtraBold'),
        url('fonts/TTLakesCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakesCondensed-ExtraBold.woff') format('woff'),
        url('fonts/TTLakesCondensed-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
body.lock{
    overflow: hidden;
}
.header__body{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.leftgroup, .rightgroup, .middlegroup{
    display: flex;
    align-items: center;
    height: 88px;
}
.leftgroup{
    justify-content: flex-start;
}
.rightgroup{
    justify-content: flex-end;
}
.middlegroup{
    display: none;
}
.header__body button{
    background-color: white;
    border: 0;
}
.header__navigation--button{
    margin:24px 16px ;
}
.header__checkstatus--button{
    margin-right:10px ;    
}

.header__body img{
    background-color: white;
}

.header__repair--button{
    padding-left: 20px;
}

.header__repait::before{
    content: "";
    height: 32px;
    width: 2px;
    position: absolute;
    margin-top: 4px;
    background-color: #EAEAEA;
    
}

.header__call{
    padding-right: 8px;
}

body {
    background-color: #F8F8F8;
    margin: 0;
    font-family: 'TT Lakes';
}
.header{
    border-bottom: 1px solid #D9FFF5;
}

.title{
    border-left: 4px solid #41F6D7;
    padding-left: 16px;
    font-family: 'TT Lakes Condensed';
}

.title h1{
    letter-spacing: -0.6px;
    font-size: 28px;
    line-height: 40px;
    margin-top: 24px;
}
.sidemenu{
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding-left: 16px;

}

.sidemenu::-webkit-scrollbar{
width: 0;
}

.sidemenu > button{
    border: 0;
    font-size: 16px;
    line-height: 24px;
    background-color:#F8F8F8;
    letter-spacing: -0.2px;
    color: #7E7E82;
    padding-top: 8px;
    padding-bottom: 8px;
}

.sidemenu > .sidemenu__rdevices{
    background-color: white;
    border:  2px solid #B8FFEC;
    border-radius: 6px;
}

.firstblock__text{
    display: flex;
    height: 90px;
    padding: 0 16px;
    overflow: hidden;
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

.firstblock__readmore{
    padding-left: 24px;
}
.firstblock__picture{
    width: auto;
    justify-self: middle;
}
.firstblock__button--readmore{
    border: 0;
    font-family: 'TT Lakes Condensed';
    font-size: 16px;
    line-height: 24px;
    background-color: #F8F8F8;
    padding:  16px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.hidden__buttons{
    display: none;
}

button:hover {
    cursor: pointer;
}


.blur{
    filter: blur(3px);
    transition: 0.8s;
}
.popup{
    position: fixed;
    top: 0;
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0s;
    background-color: white;
    min-height: 100%;
}

.popupLs{
    left: 0;
}

.open{
    visibility: visible;
    opacity: 1;
}

.dropMenu__header{
    width: 320px;
    max-width: 320px;
    display:flex;
    padding: 20px 24px;
    padding-bottom: 34px;
    box-sizing: border-box;
}

.dropMenu__header__close {
    padding-right: 20px;
    padding-top: 10px;
}

.dropMenu__header__search{
    margin-left: auto;
}

.dropMenu__main li{
    padding: 16px 24px;
    list-style: none;
}

.dropMenu a{
    text-decoration: none;
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: bold;
}

.dropMenu__main li a{
    color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.fix::before{
    content: "";
    height: 32px;
    width: 4px;
    background-color: #41F6D7;
    position: absolute;
    left:-3px;
    top: 155px;
    border: 2px solid white;
    border-radius: 50%;
}

.dropMenu__main li a::before{
    position: absolute;
    color: #1B1C21;
    content: attr(data-hover);
    transition: transform 0.3s, opacity 0.3s;
}
.dropMenu__main li  .dropMenu__main__grey::before{
    color: #7E7E82;
}

.dropMenu__main li a:hover::before{
    opacity: 0;
    transform: scale(0.9);
}

.dropMenu__footer{
    padding-top: 100px;
}

.dropMenu__footer__contact__icons.middlegroup{
    display: flex;
    height: 60px;
}
.dropMenu__footer__contact__icons button{
    border: 0;
    background-color: white;
}

.dropMenu__footer__contact__icons__phone{
    padding-left: 18px;
}
.dropMenu__footer__contact__icons__phone a{ 
    padding: 6px;
}
.dropMenu__footer__contact__email{
    padding: 4px 24px ;
}
.dropMenu__footer__contact__telephone{
    padding: 8px 24px;
}

.dropMenu__footer__contact__telephone a{
    font-family: TT Lakes;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    letter-spacing: -0.6px;
}

.dropMenu__footer__lang{
    display: flex;
    padding:  32px 24px;
}
.dropMenu__footer__lang button{
    background-color: white;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -0.2px;
    font-family: TT Lakes;
}
.dropMenu__footer__lang__RU__button.grey{
    color: #7E7E82;
}

.sepia__filter img:hover{
    filter: sepia(1);
    transition-duration: 0.2s;
}

.brandsRepair__title,
.devicesRepair__title,
.priceList__title  {
background: linear-gradient(90deg ,#F8F8F8 50%, #FFFFFF );
border-top: 1px solid #D9FFF5;
height: 55px;
}


.brandsRepair__title h2,
.devicesRepair__title h2,
.priceList__title h2 {
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    position: absolute;
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
}

.devicesRepair{
    padding-top: 30px;
}
.priceList{
    padding-top: 50px;
}

.swiper {
    width: 100%;
    height: 100%;
}

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #F8F8F8;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

    .swiper-slide button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 240px;
    height: 72px;
    object-fit: cover;
    background-color: white;
    border: 0;
    padding: 16px;
    position: relative;
}

    .devicesRepair__list__content .swiper-slide button{
      height: 160px;
}

  .devicesRepair__list__content .swiper-slide h6{
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 16px;
    margin: 0;
  }

  .devicesRepair__list__content .swiper-slide img{
      position: absolute;
      bottom: 16px;
      right: 16px;
  }

  .swiper-slide button img:nth-child(2){
      margin-left: auto;
  }

.swiper-pagination{
    position: absolute;
    margin-bottom: -15px;
}

.priceList__list {
    overflow: hidden;
}

.priceList__list .swiper-slide button{
    width:auto;
    height: auto;
    padding: 0;
    position: absolute;
    right: 16px;
    bottom: 16px;
 }

.priceList__list .swiper-slide__container{
    position: relative;
    background-color: white;
    height: 200px;
    width: 260px;
    justify-content: flex-start;
}

.priceList__list .swiper-slide h6{
    display: flex;
    margin: 0;
   width: 100%;
   align-self: flex-start;
   padding: 6px;
   padding-left: 16px;
   color: #7E7E82;
   font-size: 14px;
}

.priceList__list .swiper-slide__container div{
    display: flex;
    align-self: flex-start;
    padding-bottom: 6px;
    padding-left: 16px;
    color: #1B1C21;
}

.priceList__list__content .swiper-pagination{
    position: absolute; 
    bottom: -310px;
}

.brandsRepair__list__readmore,
.brandsRepair__list__grid,
.devicesRepair__list__grid,
.devicesRepair__list__grid__readmore,
.priceList__list__grid{
    display: none;
}

.brandsRepair__list,
.devicesRepair__list{
    padding-top: 20px;
}

.priceList__footer__caption{
    padding-top: 35px;
    max-width: 290px;
    padding-left: 16px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    padding-bottom: 10px;
}

.priceList__footer__advertisment{
    padding-left: 16px;
    height: 24px;
    align-self: center;
    display: flex;
    text-decoration: none;
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2 px;
    font-weight: 700;
}

.footer{
    border-top: 1px solid #D9FFF5;
    margin-top: 50px;
    align-content: center;
    font-size: 14px;
    clear: both;
    display: flex;
    flex-wrap: wrap;
}

.footer div{
    min-width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 5px 15px;
    padding-top: 16px;
    padding-bottom: 0;
    text-align: center;
}

.popupRs.open{
    width: 320px;
    background-color: white;
    position: fixed;
    top: 0;
    min-height: 100%;
    visibility: hidden;
    opacity: 0;
}

.popupRs .popup{
    right: 0;
}

.popupRs__content{
    position: relative;
    right: 0;
}
.popupRs.open{
    opacity: 1;
    visibility: visible;
    right: 0;

}
.popupRs__content__header{
    padding-top:60px;
}
.popupRs__content__header a,
.modalCall__content__header a{
    position: absolute;
    top: 24px;
    left: 16px;
}

.popupRs__content__header__text,
.modalCall__content__header__text{
    border-left: 4px solid #41F6D7;
    padding-left: 12px;
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 900;
}
.popupRs__content__main textarea{
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    resize: none;
    margin: 8px;
    height: 118px;
}

.popupRs__content__main input,
.modalCall__body input{
    width: 288px;
    height: 48px;
    margin: 8px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
}

.popupRs__content__main__license{
    width: 288px;
    padding: 8px;
    font-size: 14px;
    line-height: 16px;
}

.popupRs__content__main__license a,
.modalCall__body__text a{ 
    text-decoration: none;
    color: #FF3E79;
}
.popupRs__content__main__submit{
    border: 0;
    background-color: white;
    display: flex;
    margin-left: auto;
    padding: 16px;
}

.modalCall{
    max-width: 320px;
    background-color: white;
}

.modalCall__content__header{
    padding-top: 100px;
    padding-bottom: 20px;
}
.modalCall__header__content{
    position: relative;
}
.modalCall__body__text{
    max-width: 288px;
    padding: 8px;
    font-size: 14px;
    line-height: 16px;
}

@media ( min-width : 768px){
    .devicesRepair{
        padding-top: 60px;
    }
    .brandsRepair__list,
    .brandsRepair__list__limiter,
    .devicesRepair__list__limiter,
    .devicesRepair__list,
    .priceList__list{
        display: none;
    }

    .brandsRepair__list__readmore,
    .brandsRepair__list__grid,
    .devicesRepair__list__grid{
        display: block;
    }

    .priceList__list__grid{
        display: grid;
        padding-left: 24px;
        padding-right: 24px;
        box-sizing: border-box;
        font-size: 14px;

    }

    .priceList__list__grid__container > div{
        display: flex;
        width: 100%;
        height: 64px;
        padding-left: 16px;
        align-items: center;
        position: relative;
    }

    .priceList__list__grid__container > 
    div:not(:nth-of-type(1)):not(:nth-of-type(2))::before{
        box-sizing: border-box;
        content: "";
        position: absolute;
        margin-bottom: 70px;
        padding-right: 40px;
        padding-left: 40px;
        width: 95%;
        
        border-top: 1px solid black;
    }

    .priceList__list__grid__container button{
        align-self: flex-end;
        margin-left: auto;
        padding: 16px;
        background-color: white;
        border: 0;
    }

    .priceList__list__grid__header .hidden{
        visibility: hidden;
    }

    .priceList__list__grid__container .firstCol{
        min-width: 350px;
    }

     .priceList__list__grid__container .secondCol{
        min-width: 90px;
        margin: auto;   
    }   

    .priceList__list__grid__container img{
        padding-right: 16px;
    }

    .priceList__list__grid__container > div:not(:nth-child(1)){
        background-color: white;
    }

    .priceList__footer__caption{
        max-width: 430px;
        padding: 24px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
        padding-bottom: 16px;
    }

    .priceList__footer__advertisment{
        padding-left: 24px;
        height: 24px;
        align-self: center;
        display: flex;
        text-decoration: none;
        color: #1B1C21;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2 px;
        font-weight: 700;
    }

    .brandsRepair__list__grid__content,
    .devicesRepair__list__grid__content{
        display: grid;
        grid-template-columns: 224px 224px 224px;
        grid-gap: 32px 32px;
        justify-content: center;
        padding-top: 24px;
    }

    .devicesRepair__list__grid__content h6{
        position: absolute;
        font-size: 16px;
        margin: 0;
        top: 16px;
        left: 16px;
    }

    .brandsRepair__list__grid__content button,
    .devicesRepair__list__grid__content button{
        width: 240px;
        height: 72px;
        display: flex;
        align-items: center;
        padding: 16px;
        border: 0;
        background-color: white;
    }

    .devicesRepair__list__grid__content button{
        width: 224px;
        height: 160px;
        display: flex;
        position: relative;
    }

    .devicesRepair__list__grid__content img{
        position: absolute;
        bottom: 16px;
        right: 16px;
    }

    .brandsRepair__list__grid__content button img:nth-child(2){
        margin-left: auto;
    }

    .brandsRepair__list__grid__limiter,
    .devicesRepair__list__grid__limiter{
        max-height: 200px;
        overflow: hidden;
        position: relative;
    }

    .brandsRepair__list__grid__readmore,
    .devicesRepair__list__grid__readmore{
        opacity: 0;
        position: relative;
    }
    .brandsRepair__list__grid__readmore:checked 
    ~ .brandsRepair__list__grid__limiter,
    .devicesRepair__list__grid__readmore:checked 
    ~ .devicesRepair__list__grid__limiter{
        max-height: none;
    }

    .brandsRepair__list__grid__readmore 
    ~ .brandsRepair__list__grid__readmore__button::before,
    .devicesRepair__list__grid__readmore 
    ~ .devicesRepair__list__grid__readmore__button::before{
        content: "»  Показать все";
        position: absolute;
        padding-top: 20px;
        padding-left: 100px;
    }

    .brandsRepair__list__grid__readmore:checked 
    ~ .brandsRepair__list__grid__readmore__button::before,
    .devicesRepair__list__grid__readmore:checked 
    ~ .devicesRepair__list__grid__readmore__button::before{
        content: "«  Скрыть";
        position: absolute;
        padding-top: 20px;
        padding-left: 100px;
    }
}
.footer{
    flex-wrap: nowrap;
    min-width: 0;
    padding-top: 32px;
    justify-content: space-between;
}
.footer:nth-child(3){
    max-width: 330px;
    min-width: 0;
}
.footer div{
    max-width: 230px;
    min-width: 0;
    margin: 0;
    padding-bottom: 20px;
}

@media ( min-width : 768px) and (max-width : 1119.98px){
    .middlegroup{
        display: flex;
        margin-left: auto;
        margin-right: 20px;
    }    

    .firstblock{
        display: flex;
    }
    .firstblock__picture{
        margin-left: auto;
        margin-right: 25px;

    }
    .firstblock__picture > img{
        min-width: 360px;
    }
    .firstblock__text{
        line-height: 20px;
        height: 160px;
        font-size: 14px;
        max-width: 312px;
        margin-left: 8px;
    }
    .header__navigation > nav::after{
        content: "";
        height: 32px;
        width: 2px;
        position: absolute;
        background-color: #EAEAEA;
    }
    .header__icon .logo{
        margin-left: 20px;
    }
    .brandsRepair__list__content{
        display: grid;
        grid-template-columns: 224px 224px 224px;
        grid-gap: 32px 26px;
        justify-content: center;
    }
}

@media (min-width: 1120px) {
    .firstblock{
        display: flex;
    }
    .firstblock__picture > img{
        min-width: 531px;
    }
    .firstblock__picture{
        margin-left: auto;
        margin-right: 28px;
    }

    .firstblock__text{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        width: 490px;    
        height: 160px;
    }
   /*если нужна кнопка -- удалить*/
    .firstblock__readmore{
        display: none;
    }
    .header{
        display: none;
    }
    .title{
        display: flex;
        align-items: center;
        padding-left: 30px;
        border : 0 ;
    }
    .title h1{
        border-left: 4px solid #41F6D7;
        margin-left: -30px;
        padding-left: 30px;
    }
    .hidden__buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 400px;
        margin-left: auto;
        margin-right: 20px;
    }
    .hidden__buttons button{
        border: 0;
        background-color: #F8F8F8;
        margin-left: 8px;
        display: flex;
    }

    .hidden__buttons--repait--text, 
    .hidden__buttons--checkstatus--text{
        display: inline-block;
        justify-content: center;
        align-self: center;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        margin-right: 8px;
    }
    .sidemenu{
        padding-left: 30px;
    }
    .firstblock__text{
        padding-left: 30px;
    }
    .brandsRepair__list__grid__content,
    .devicesRepair__list__grid__content{
        display: grid;
        grid-template-columns: 240px 240px 240px 240px;
        grid-gap: 32px 16px;
        justify-content: center;
        padding-top: 24px;
    }

}
@media (min-width: 1376px){
    .wrapper{
        margin-left: 320px;
    }
    .dropMenu{
        position: fixed;
        top: 0;
        left: 0;
    }
    .popupLs{
        visibility: visible;
        opacity: 1;
    }
    .dropMenu__header__close{
        visibility: hidden;
    }
    .dropMenu__header__logo{
        position: absolute;
    }
}